<div class="container ">
  <div class="row">
    <div class="col text-center">
      <h1 > What you munching?</h1>
      <p class="lead">
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
      </p>
    </div>
    
  </div>
  <div class="row">
    <div class="col text-center">
      <app-form></app-form>
  </div>
</div>
  <div class="row">
    <div class="col text-center">
      <app-display></app-display>
  </div>

  </div>
  
  <!-- <router-outlet></router-outlet> -->
</div>


