<div class="row mt-3">
<table class="table table-hover">
   <thead>
     <tr>
       <th scope="col">User Name</th>
       <th scope="col">Location</th>
       <th scope="col">Favourite Food</th>
       <th scope="col">Link to Food</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor = "let responseitem of response">
       <td scope="row">{{responseitem.username}}</td>
       <td>{{responseitem.location}}</td>
       <td>{{responseitem.favouritefood}}</td>
       <td><a href="{{responseitem.foodlink}}" target = "_blank" class="nav-link">{{responseitem.foodlink}}</a></td>
     </tr>

   </tbody>
 </table>
</div>